*
{
    margin: 0px;
    padding: 0px;
}

html
{
    min-height: 100%;
}

body
{
    background-color: burlywood;
}

#container
{
    padding-top: 70px;
    max-width: 1400px;
    min-height: 100%;
    margin: 0 auto;
    background-color: rgb(253, 236, 214);
}

#header
{
    position: fixed;
    background-color: rgb(105, 121, 106);
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    width: 100%;
    z-index: 1000;
}

h2:hover
{
    color: rgb(80, 133, 93);
    cursor: pointer;
}

.head_elem
{
    color: white;
    font-size: larger;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;
}

.head_elem:hover
{
    cursor: pointer;
    font-size: x-large;
}

#functional_block
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
}

#add_book
{
    width: 150px;
    height: 35px;
    margin: 7px 0px;
}

#add_book:hover
{
    cursor: cell;
}

#search_block
{
    display: flex;
    height: 30px;
    width: 400px;
}

#search
{
    flex-grow: 5;
}

#search, #button_search
{
    height: 100%;
}

#button_search
{
    flex-grow: 1;
    cursor: zoom-in;
    width: 70px;
}

main
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.book
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 500px;
}

.manipulation_book
{
    margin-top: 10px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#comment
{
    height: 100%;
    width: 150px;
}

.img 
{
    position: relative;
    width: 250px;
    height: 350px;
    background-color: rgb(206, 182, 128);
}

.img img
{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    max-width:100%;
    max-height: 100%;
}